main {
    margin-top: 50px;
}

.movie {
    margin:auto;
    max-width: 600px;
}

.movie img {
    max-width: 300px;
}
.edit-form{
    max-width: 600px;
    margin: 50px auto;
}

.headline{
    font-size: 3em;
    text-align: center;
    margin:30px auto;
}
.movies-index ul{
    list-style-type: none;
    display: flex;
    flex-flow: wrap;
}
.movies-index ul li{
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid lightblue;
    min-width: 300px;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}